@media (max-width: 380px) {
	h3 {
		text-align: center;
	}

	h1 {
		font-size: 45px;
	}

    h4 {
        font-size: 16px;
        margin-top: 20px;
    }

    .nav-left-block {
        display: none;
    }

    .nav-elements {
        display: flex;
        justify-content: center;
    }

    .container-nav {
        padding-left: 0;
        padding-right: 0;
    }

    .container-worker {
        padding-top: 50px;
}